*.css
*.scss
*.svg
*.png
*.json
*.log
*.lock
*.md
*.ico
*.ttf
*.xml
*.txt
*.html
*.webmanifest
*.tsconfig.json
*.tsbuildinfo
*.woff2
build
dist
LICENSE
postcss.config.js
public/lottie/player.js
README.md
vite.config.ts