// Copyright 2024 @polkadot-fellows/dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

html {
  font-size: 12.5px;

  @media (min-width: 600px) {
    font-size: 14px;
  }
  div {
    color: var(--text-color-primary);
  }

  // Overriding some theme styles
  .core-page-row {
    h1,
    h2,
    h3,
    h4,
    h5 {
      line-height: 2rem;
      width: 100%;
    }

    a {
      font-weight: bold;
      color: var(--accent-color-primary);
      text-decoration: underline;
    }
    a:hover {
      color: var(--accent-color-secondary);
    }
  }

  ul {
    line-height: 1.5rem;
  }

  .adj-img {
    width: 80%;
    padding: 2rem 0;
  }

  .note {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--accent-color-primary);
    border-left: 0.5rem solid var(--accent-color-primary);

    &.secondary {
      border: 0.1rem solid var(--accent-color-secondary);
      border-left: 0.5rem solid var(--accent-color-secondary);
    }
  }

  .rfc-date {
    font-size: 0.8rem;
  }
}
