// Copyright 2023 @polkadot-fellows/dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.rfc-content {
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 25rem;
  overflow: hidden;
}

img {
  width: 100%;
}
